<!DOCTYPE html>
<html>

<head>
    <% include ../header %>
</head>

<body>

        <main>

            <% include ../form %>

                <div class="container mg-b-20">
                    <% include ../body %>
                </div>

        </main>

</body>

</html>